doctype html
head
    title Anh Duc Le
body
    header
        section.top-slide
            .container
                .row
                    h1.top-slide.title
                .row
                    button.learn-more
        nav.top-nav
            .container
                .col
                    .row
                        img.top-nav.logo
                    .row
                        ul.top-nav.menu
                            li
                                a
    main
        section.summary
            .container
                .row
                    .col
                        image.summary.avatar
                    .col
                        .row
                            .summary.content
                                h1.summary.title
                                p.summary.description                        
                        .row
                            .col
                                .row
                                    .summary.about-detail
                                        h1.summary.about-detail-title
                                        p.summary.about-detail-desciption
                                .row
                                    .summary.about-detail
                                        h1.summary.about-detail-title
                                        p.summary.about-detail-desciption
                            .col
                                .row
                                    .summary.about-detail
                                        h1.summary.about-detail-title
                                        p.summary.about-detail-desciption
                                .row
                                    .summary.about-detail
                                        h1.summary.about-detail-title
                                        p.summary.about-detail-desciption
        section.about-me
            
        section.my-skills
        section.resume
        section.education
        section.work-experience
        section.porfolio  
        section.contact      
    footer
        section.app-footer

