doctype html
head
    title Anh Duc Le
body
    header
        section.banner
            .container
                .row
                    .col
                        .banner__content
                            h1.banner__title                
                            button.learn__more
        nav.top-nav
            .container
                .row
                    .col
                        img.top-nav__logo
                    .col
                        ul.top-nav__menu
                            li
                                a
    main
        section.summary
            .container
                .row
                    .col   
                        .summary__content
                            h1.summary__content-title
                            p.summary__content-description                 
                    .col
                        .summary__content
                            h1.summary__content-title
                            p.summary__content-description  
                    .col
                        .summary__content
                            h1.summary__content-title
                            p.summary__content-description  
        section.about-me
            .container
                .row
                    .col
                        image.about-me__avatar
                    .col
                        .container
                            .row
                                .about-me__content
                                    h1.about-me__title
                                    p.about-me__description                        
                            .row
                                - for(var i=0; i<2;i++)
                                    .col                                
                                        .about-me__about-detail
                                            h1.about-me__about-detail-title
                                            p.summary__about-detail-description                                                              
                            .row
                                - for(var i=0; i<2;i++)
                                    .col                                
                                        .about-me__about-detail
                                            h1.about-me__about-detail-title
                                            p.summary__about-detail-description                                                                                          
                                      
        section.my-skills
            .container
                .row
                    .col
                        .my-skills__content
                            h1.my-skills__title
                            p.my-skills__description
                            button
                    .col
                        .container                        
                            .row
                                .col
                                    -for(var i=0; i<4;i++)
                                        .my-skills__skill-content
                                            h1.my-skills__title
                                            p.my-skills__description
                            
        //- section.resume
        //- section.education
        //- section.work-experience
        //- section.porfolio  
        //- section.contact      
    footer
        section.app-footer

